.contact p, label, legend {
}

.contact {
	display: block;
	width: auto;
	margin: 5px 0 14px 0;
	padding: 0px;
	border: none;
}

/* Form style */

.contact label {
	display: none;
	float: none;
	height: 0px;
}

.contact input, textarea, select {
	width: 112px;
	padding: 6px 13px 7px 13px;
	border: 1px solid #d8d8d8;
	margin: 0px 20px 0px 0;
	font: 12px "Open Sans", Arial, Helvetica, sans-serif;
	color: #888;
	float: left;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.contact input.third {
	margin: 0px 0px 0px 0 !important;
}

.contact textarea {
	width: 432px !important;
	margin-top: 1px;
	margin-bottom: 4px;
	margin-right: 0px !important;
	float: none;
}

.contact #subject {
	width: 292px !important;
}

.contact input:focus, textarea:focus, select:focus {
	background: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	border: 1px solid #888;
}

.contact input:hover, textarea:hover, select:hover {
	background: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2) !important;
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2) !important;
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2) !important;
	border: 1px solid #888 !important;
}

.contact input.submit {
	float: none;
	display: block;
	text-transform: uppercase;
	cursor: pointer;
	position: relative;
	padding: 7px 13px 7px 12px !important;
	margin: 16px 0 18px 0;
	font-weight: 700;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #fff;
	text-align: center;
	font-size: 12px;
	line-height: 20px;
	-webkit-transition: all 0.1s ease-in-out 0s;
	background-color: #88b10f;
	width: auto !important;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	border: 0px;
}

.contact input.submit:hover {
	background-color: #3e3e3e;
	-webkit-box-shadow: none !important;
	-moz-box-shadow: none !important;
	box-shadow: none !important;
	border: 0px solid #888 !important;
}

.contact fieldset {
	padding-left: 0px;
}

.contact span.required {
	padding-left: 28px;
	background: url(../images/bg-bullet.png) no-repeat 12px 5px;
	margin-left: -28px;
}

#message {
	margin: 10px 0;
	padding: 0;
}

.error_message {
	display: block;
	height: 22px;
	line-height: 22px;
	background: #FBE3E4 url('../images/error.gif') no-repeat 10px center;
	padding: 3px 10px 3px 35px;
	color: #8a1f11;
	border: 1px solid #FBC2C4;
	-webkit-border-radius: 5px;
}

.loader {
	padding: 22px 0 0 10px;
}
