@charset "utf-8";
/* CSS Document */

.clear {
	clear: both;
}

.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}

/* ----- clear fix for floats ----- */
.clearfix {
	display: inline-block;
}

* html .clearfix {
	height: 1%;
}

/* hides clearfix from IE-mac */
.clearfix {
	display: block;
}

/* end hide from IE-mac */
.alignleft {
	float: left;
}

.alignright {
	float: right;
}

.aligncenter {
	margin: auto;
	display: block;
}

.alignnone {
	clear: both;
	font-size: 0;
	line-height: 0;
	margin: 0;
	padding: 0;
	border: 0;
	height: 0;
	width: 0;
}

.centered {
	text-align: center;
}

img {
	display: block;
	position: relative;
	padding: 0;
}

/* =Typography
--------------------------------------------------------------------------------------------------------*/
body {
	font: 12px 'Open Sans', Arial, Helvetica, sans-serif;
	color: #888888;
	background: url(../images/background1.jpg) 50% 10% no-repeat fixed #dcdcd9;
}

strong {
	font-weight: 700;
}

/* End Typography
--------------------------------------------------------------------------------------------------------*/

/* =Headings
--------------------------------------------------------------------------------------------------------*/
h1 {
}

h2 {
	font-size: 36px;
	font-weight: 700;
	color: #3e3e3e;
	margin: 0px 0px;
	text-transform: uppercase;
}

h2.blockquote {
	font-size: 36px;
	font-weight: 700;
	background: none;
	color: #3e3e3e;
	margin: 10px 0 0 0;
}

h3 {
	font-size: 23px;
	font-weight: 300;
	color: #3e3e3e;
	line-height: 35px;
	padding: 14px 10px 22px 0;
}

h4 {
	font-size: 15px;
	font-weight: 600;
	color: #3e3e3e;
	line-height: 20px;
	padding: 14px 0px 13px 0;
}

h4.button {
	padding: 15px 0px 20px 0;
}

h4.blockquote {
	padding-left: 30px !important;
	font-style: italic;
	font-weight: 600;
}

h4.blockquote span.name {
	font-size: 12px;
	color: #888;
	font-style: normal;
	font-weight: 400;
	line-height: 35px;
}

.headline h4, .headline h2 {
	display: inline;
	background: #fff;
	padding: 0px 10px 0px 0;
}

h5 {
	font-size: 12px;
	font-weight: 400;
	color: #3e3e3e;
	line-height: 20px;
	padding: 10px 20px 5px 0;
	text-transform: uppercase;
}

h3 a, h5 a {
	color: #3e3e3e;
	text-decoration: none
}

h3 a:hover, h5 a:hover {
	color: #88b10f;
	text-decoration: none
}

h4 a {
	color: #88b10f;
	text-decoration: none
}

article h3 {
	font-size: 20px;
	font-weight: 600;
	padding: 21px 30px 7px 0;
}

/* End Headings
--------------------------------------------------------------------------------------------------------*/

/* =Branding
--------------------------------------------------------------------------------------------------------*/
p {
	padding: 5px 0px 5px 0;
	line-height: 20px;
}

p a {
	color: #88b10f;
	text-decoration: none;
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-o-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
}

p a:hover {
	text-decoration: none;
	color: #3e3e3e;
}

span.arrow {
	font-family: "Lucida Sans Unicode", Arial, Helvetica, sans-serif;
}

h1#logo {
	display: inline-block;
	margin-left: 10px;
}

h1#logo a {
	display: block;
	background: url(../images/bg-logo.png) 0 50% no-repeat;
	text-indent: -9999px;
	height: 26px;
	width: 135px;
}

.border {
	height: 1px;
	width: auto;
	background: #f0f0f0;
	margin: 30px 0 10px 0;
}

.borderline {
	height: 1px;
	width: auto;
	background: #f0f0f0;
	margin: 5px 0px 3px 0px;
}

.headline {
	background: url(../images/bg-headline.png) 0 50% repeat-x;
	display: block;
	padding: 14px 20px 13px 0;
}

.icon-buttons {
	position: relative;
	width: 32px !important;
	height: 32px !important;
	display: inline-block;
	margin: 10px 12px 0 0px;
	float: left;
}

#discover {
	background: url(../images/bg-lightbulb.png) no-repeat 10px 8px #88b10f;
}

#design {
	background: url(../images/bg-heart.png) no-repeat 8px 9px #88b10f;
}

#develop {
	background: url(../images/bg-coffee.png) no-repeat 10px 9px #88b10f;
}

p.blockquote {
	font-size: 40px;
	color: #3e3e3e;
	padding-top: 20px;
}

/* End Branding
--------------------------------------------------------------------------------------------------------*/

/* =Main Nav
--------------------------------------------------------------------------------------------------------*/
ul#nav {
	margin-top: 140px;
	width: 150px;
	position: fixed;
}

ul#nav li {
	float: none;
	text-align: left;
}

ul#nav li a {
	color: #888888;
	font-size: 12px;
	font-weight: 800;
	text-decoration: none;
	text-transform: uppercase;
	margin: 0px 0px 5px 0px;
	display: inline-block;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
	padding: 7px 15px;
	background-color: rgba(0, 0, 0, 0.05) !important;
	background-color: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

ul#nav li a:hover {
	/*color:#3e3e3e;*/
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

html>body ul#nav li a:hover {
	padding-left: 25px;
}

ul#nav li.active a {
	background-color: #fff !important;
	color: #88b10f;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

/* End Main Nav
--------------------------------------------------------------------------------------------------------*/

/* =Main Content
--------------------------------------------------------------------------------------------------------*/
#wrapper {
	width: 800px;
	margin: 0 auto;
}

#box-shadow {
	-webkit-box-shadow: 0 0 30px #C7C7C7;
	-moz-box-shadow: 0 0 30px #C7C7C7;
	box-shadow: 0 0 30px #C7C7C7;
	background-color: #fff;
}

.container {
	padding: 30px 40px 70px 40px;
	width: 720px;
	position: relative;
	background-color: #fff;
}

.container.last {
	padding-bottom: 30px;
}

header {
	padding: 41px 40px 0px 40px;
	width: 720px;
	position: relative;
	min-height: 26px;
}

#quick-contact {
	margin-top: -8px;
}

.col1-1 {
	width: 700px;
	margin: 0px 10px;
	float: none;
	position: relative;
}

.col1-2 {
	width: 340px;
	margin: 0px 10px;
	float: left;
}

.col1-3 {
	width: 220px;
	margin: 0px 10px;
	float: left;
}

.col2-3 {
	width: 460px;
	margin: 0px 10px;
	float: left;
}

.divider {
	margin: 20px 10px 10px 10px;
	text-align: center;
	background: url(../images/bg-headline.png) 0 0 repeat-x;
	display: block;
	text-transform: uppercase;
	font-size: 11px;
	height: 1px;
}

.divider.top {
	margin: 0 10px 20px 10px;
}

.page-title > * {
	padding: 5px 25px;
	background: #2c2c2c;
	color: #fff;
	display: inline-block;
	text-decoration: none;
}

.page-title {
	background: url(../images/title-arrow.png) no-repeat center 100%;
	padding-bottom: 17px;
	text-align: center;
	margin-top: 20px;
}

.page-title h2 {
	color: #fff;
}

.padding-top {
	padding-top: 30px;
}

.margin-top {
	margin-top: 15px;
}

.padding-bottom {
	padding-bottom: 10px;
}

.padding-left {
	padding-left: 5px;
}

.margin-bottom {
	padding-bottom: 50px;
}

.break {
	height: 10px;
	position: relative;
}

.images {
	display: block;
	margin: 10px 0 10px 0;
	position: relative;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

.image-margin-right {
	margin: 10px 20px 10px 0px;
}

img {
	overflow: hidden;
	background: #fff;
}

/* =End Main Content
--------------------------------------------------------------------------------------------------------*/

/* =Secondary Content
--------------------------------------------------------------------------------------------------------*/
#twitter_update_list {
	margin: 0px 0 0px 0;
}

ul.jta-tweet-list li {
	display: block;
	padding: 0px 0;
	padding-right: 30px;
	line-height: 23px;
}

ul.jta-tweet-list li a.jta-tweet-link {
	color: #88b10f;
	text-decoration: none;
	font-size: 11px !important;
	font-weight: 400;
	text-transform: none;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	margin-right: 4px;
	line-height: 20px;
}

ul.jta-tweet-list li a.jta-tweet-link:hover {
	text-decoration: none;
	color: #3e3e3e;
}

ul.jta-tweet-list li a.jta-tweet-timestamp-link {
	font-size: 11px !important;
	color: #888;
	text-decoration: none;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	text-transform: uppercase;
	line-height: 20px;
}

ul.jta-tweet-list li a.jta-tweet-timestamp-link:hover {
	text-decoration: none;
	color: #3e3e3e;
}

span.jta-tweet-twitter-bird-icon, span.jta-tweet-twitter-bird-icon:hover {
	display: none
}

a.jta-tweet-a {
	color: #88b10f;
	text-decoration: none;
	-webkit-transition: color 0.2s ease 0s;
	-moz-transition: color 0.2s ease 0s;
	-o-transition: color 0.2s ease 0s;
	transition: color 0.2s ease 0s;
}

a.jta-tweet-a:hover {
	text-decoration: none;
	color: #3e3e3e;
}

.jta-clear {
	height: 5px;
}

#googlemaps {
	opacity: 0.9;
	margin-bottom: -4px !important;
}

#map-bg iframe {
	margin: 0;
	border: 0
}

#map-bg {
	background: url(../images/bg-map.png) center center no-repeat;
	margin: 0px 10px;
	margin-top: 20px;
}

.go-back {
	position: absolute;
	margin-top: -35px;
	right: 0px;
	background-color: #88b10f;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	padding: 3px 10px 4px 10px;
	color: #fff;
	text-decoration: none;
	border-radius: 2px;
	font-weight: 600;
}

.go-back:hover {
	background-color: #3e3e3e;
}

.timeline {
	float: left;
	padding: 5px 10px;
	background: #88b10f;
	color: #fff;
	font-weight: 700;
	margin-right: 15px;
	margin-top: 9px;
	text-align: center;
	width: 60px;
}

/* End Secondary Content
--------------------------------------------------------------------------------------------------------*/

/* =Social
--------------------------------------------------------------------------------------------------------*/
ul.social {
	margin-right: 10px;
	margin-bottom: 0px;
}

.social li {
	display: inline-block;
}

.social li a {
	margin: 0px 0 0px 2px;
	display: block;
	-webkit-transition: all 0.3s ease-in-out 0s;
	-moz-transition: all 0.3s ease-in-out 0s;
	-o-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}

.social li.first a {
	margin: 0px 0 0 0;
}

ul.social .facebook a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-facebook.png) no-repeat 0px -32px;
}

ul.social .facebook a:hover {
	background: url(../images/buttons/bg-facebook.png) no-repeat 0px 0px;
}

ul.social .dribble a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-dribble.png) no-repeat 0px -32px;
}

ul.social .dribble a:hover {
	background: url(../images/buttons/bg-dribble.png) no-repeat 0px 0px;
}

ul.social .pinterest a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-pinterest.png) no-repeat 0px -32px;
}

ul.social .pinterest a:hover {
	background: url(../images/buttons/bg-pinterest.png) no-repeat 0px 0px;
}

ul.social .vimeo a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-vimeo.png) no-repeat 0px -32px;
}

ul.social .vimeo a:hover {
	background: url(../images/buttons/bg-vimeo.png) no-repeat 0px 0px;
}

ul.social .google a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-google.png) no-repeat 0px -32px;
}

ul.social .google a:hover {
	background: url(../images/buttons/bg-google.png) no-repeat 0px 0px;
}

ul.social .skype a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-skype.png) no-repeat 0px -32px;
}

ul.social .skype a:hover {
	background: url(../images/buttons/bg-skype.png) no-repeat 0px 0px;
}

ul.social .email a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-email.png) no-repeat 0px -32px;
}

ul.social .email a:hover {
	background: url(../images/buttons/bg-email.png) no-repeat 0px 0px;
}

ul.social .twitter a {
	text-indent: -9000px;
	text-decoration: none;
	width: 26px;
	height: 26px;
	background: url(../images/buttons/bg-twitter.png) no-repeat 0px -32px;
}

ul.social .twitter a:hover {
	background: url(../images/buttons/bg-twitter.png) no-repeat 0px 0px;
}

/* End Social
--------------------------------------------------------------------------------------------------------*/

/* =jCarousel
--------------------------------------------------------------------------------------------------------*/
.jcarousel-skin-tango2 .jcarousel-direction-rtl {
	direction: rtl;
}

.jcarousel-skin-tango2 .jcarousel-container-horizontal {
	width: 720px;
	padding: 10px 0 10px 0;
}

.jcarousel-skin-tango2 .jcarousel-clip {
	overflow: hidden;
}

.jcarousel-skin-tango2 .jcarousel-item-placeholder {
	background: #fff;
	color: #000;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal {
	position: absolute;
	top: -20px;
	right: 10px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	background: url(../images/buttons/arrow-right.png) center no-repeat #fff;
	text-indent: -9999px;
	display: inline-block;
	width: 20px;
	height: 19px;
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:hover, .jcarousel-skin-tango2 .jcarousel-next-horizontal:focus {
	border: 1px solid #888;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
}

.jcarousel-skin-tango2 .jcarousel-next-horizontal:active {
	border: 1px solid #d8d8d8;
}

.jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal, .jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:hover, .jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:focus, .jcarousel-skin-tango2 .jcarousel-next-disabled-horizontal:active {
	cursor: default;
	border: 1px solid #d8d8d8;
	background: url(../images/buttons/arrow-right2.png) center no-repeat #fff;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal {
	position: absolute;
	top: -20px;
	right: 35px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	background: url(../images/buttons/arrow-left.png) center no-repeat #fff;
	text-indent: -9999px;
	display: inline-block;
	width: 20px;
	height: 19px;
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:hover, .jcarousel-skin-tango2 .jcarousel-prev-horizontal:focus {
	border: 1px solid #888;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
}

.jcarousel-skin-tango2 .jcarousel-prev-horizontal:active {
	border: 1px solid #d8d8d8;
}

.jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal, .jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:hover, .jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:focus, .jcarousel-skin-tango2 .jcarousel-prev-disabled-horizontal:active {
	cursor: default;
	border: 1px solid #d8d8d8;
	background: url(../images/buttons/arrow-left2.png) center no-repeat #fff;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
}

/* End jCarousel
--------------------------------------------------------------------------------------------------------*/

/* =Accordion
--------------------------------------------------------------------------------------------------------*/
#accordion {
	width: auto;
	margin: 18px 0 5px 0;
}

#accordion div.ui-accordion-content {
	padding: 0px 0 20px 0px;
}

#accordion h3 {
	padding: 0px;
	padding: 3px 0px 4px 0px;
	width: auto;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	margin-bottom: 5px;
	font-size: 20px;
	font-weight: 600;
	color: #3e3e3e;
	line-height: 35px;
}

#accordion h3 a {
	cursor: pointer;
	display: block;
	text-decoration: none;
	line-height: 20px;
	text-transform: none;
	width: auto;
	display: inline-block;
	color: #858585;
}

#accordion h3:hover {
	color: #3e3e3e;
	border: 1px solid #888;
	cursor: pointer;
}

#accordion h3.ui-state-active {
	background: /*url(../images/buttons/bg-close.png) no-repeat 15px 11px */ #fff;
}

#accordion h3.ui-state-active a {
	color: #3e3e3e;
	cursor: default;
}

#accordion h3.ui-state-active:hover {
	cursor: default;
	color: #1e1e1e;
	border: 1px solid #d8d8d8;
}

#accordion h3.ui-corner-all {
	background: /*url(../images/buttons/bg-open.png) no-repeat 15px 11px */ #fff;
}

h3 span.ui-icon.ui-icon-triangle-1-s {
	background: url(../images/buttons/bg-close.png) center center no-repeat;
	height: 42px;
	width: 48px;
	display: inline-block;
	float: left;
	margin-top: -3px;
	border-right: 1px solid #e9e9e9;
	margin-right: 20px;
}

h3 span.ui-icon.ui-icon-triangle-1-e {
	background: url(../images/buttons/bg-open.png) center center no-repeat;
	height: 42px;
	width: 48px;
	display: inline-block;
	float: left;
	margin-top: -3px;
	border-right: 1px solid #e9e9e9;
	margin-right: 20px;
}

/* =End Accordion
--------------------------------------------------------------------------------------------------------*/

/* =Image Hover
--------------------------------------------------------------------------------------------------------*/
.images img {
	width: 100%;
	display: block;
}

.images .title, .images .subtitle {
	z-index: 10;
	position: absolute;
	top: 30px;
	left: 30px;
	width: auto;
	font-weight: 600;
}

.images .subtitle {
	top: 63px;
	font-weight: 300;
}

.textwrap, .textwrap-delay {
	overflow: hidden;
	position: relative;
}

.textwrap p, .textwrap-delay p {
	overflow: hidden;
	white-space: nowrap;
	line-height: 30px;
	text-transform: uppercase;
	font-family: 'Open Sans', Arial, Helvetica, sans-serif;
	color: #3e3e3e;
}

.textwrap p span, .textwrap-delay p span {
	padding: 6px 10px;
	background: #fff;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.05);
}

.img-cover i {
	display: block;
	font-style: normal;
	position: absolute;
	width: 100%;
	height: 100%;
	z-index: 9;
	text-indent: -9000px;
	top: 0;
	left: 0;
	background-color: rgba(250, 250, 250, 0.3) !important;
	background-color: #3e3e3e;
	opacity: 0;
	filter: alpha(opacity:0)
}

.img-cover a {
	display: inline-block;
	width: 46px;
	height: 46px;
	position: absolute; /* background:url(../images/buttons/bg-email.png) 50% 50% no-repeat;*/
	z-index: 10;
	width: 100%;
	height: 100%;
	margin-left: 0;
	margin-top: 0;
}

/*.img-cover a.link { background:url(../images/buttons/bg-link.png) 50% 50% no-repeat; }
.img-cover a.zoom { background:url(../images/buttons/bg-zoom.png) 50% 50% no-repeat; }*/
/* End Image Hover
--------------------------------------------------------------------------------------------------------*/

/* =Lists
--------------------------------------------------------------------------------------------------------*/
ul.list {
	display: block;
	position: relative;
	padding: 5px 20px 5px 0;
}

ul.list li {
	line-height: 20px;
	width: auto;
	padding-left: 20px;
}

ul.bullet li {
	background: url(../images/list-bullet.png) no-repeat 7px 9px;
}

ul.list li a {
	text-decoration: none;
	color: #888;
}

ul.list li a:hover, ul.normal li a:hover {
	color: #88b10f;
	text-decoration: none;
}

/* =End Lists
--------------------------------------------------------------------------------------------------------*/

/* =Blog
--------------------------------------------------------------------------------------------------------*/
p.dates {
	background: url(../images/bg-date.png) no-repeat 10px 7px;
	padding-left: 35px;
	padding-right: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	margin-right: 4px;
	margin-bottom: 15px;
}

p.users {
	background: url(../images/bg-users.png) no-repeat 10px 7px;
	padding-left: 35px;
	padding-right: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	margin-right: 4px;
	margin-bottom: 15px;
}

p.comments {
	background: url(../images/bg-comments.png) no-repeat 10px 8px;
	padding-left: 35px;
	padding-right: 10px;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	margin-right: 4px;
	margin-bottom: 15px;
}

#navi-blog {
	padding: 25px 0 15px 0;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
}

#navi-blog .page a {
	font-size: 12px;
	color: #888;
	text-decoration: none;
	padding: 3px 7px;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	margin-right: 4px;
	text-align: center;
	float: left;
}

#navi-blog .page a:hover {
	text-decoration: none;
	border: 1px solid #888;
}

#navi-blog .active a {
	background: #88b10f;
	color: #fff;
	font-weight: 700;
	border: 1px solid #88b10f;
}

#navi-blog .active a:hover {
	cursor: default;
	color: #fff;
	border: 1px solid #88b10f;
}

.avatar {
	margin: 10px 0px 0 0;
	padding: 16px 16px;
	background: #fff;
	border: 1px solid #d2d2d2;
}

.reply {
	margin: 0px 0 0px 66px;
}

.no-wrap {
	margin-left: 66px;
}

.when {
	margin-top: -10px;
}

/* End Blog
--------------------------------------------------------------------------------------------------------*/

/* =Footer
--------------------------------------------------------------------------------------------------------*/
#footer {
	height: 165px;
	margin: 0px 0px 0 0px;
	margin: 0px 0 0 0px;
	-webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#footer p span.top {
	font-size: 20px;
	color: #3e3e3e;
	line-height: 34px;
	background: none;
	border-bottom: 0px;
}

/* End Footer
--------------------------------------------------------------------------------------------------------*/

/* =Isotope
--------------------------------------------------------------------------------------------------------*/
.isotope-item {
	z-index: 2;
}

.isotope-hidden.isotope-item {
	pointer-events: none;
	z-index: 1;
}

/**** Isotope CSS3 transitions ****/
.isotope, .isotope .isotope-item {
	-webkit-transition-duration: 0.8s;
	-moz-transition-duration: 0.8s;
	-ms-transition-duration: 0.8s;
	-o-transition-duration: 0.8s;
	transition-duration: 0.8s;
}

.isotope {
	-webkit-transition-property: height, width;
	-moz-transition-property: height, width;
	-ms-transition-property: height, width;
	-o-transition-property: height, width;
	transition-property: height, width;
}

.isotope .isotope-item {
	-webkit-transition-property: -webkit-transform, opacity;
	-moz-transition-property: -moz-transform, opacity;
	-ms-transition-property: -ms-transform, opacity;
	-o-transition-property: top, left, opacity;
	transition-property: transform, opacity;
}

/**** disabling Isotope CSS3 transitions ****/
.isotope.no-transition, .isotope.no-transition .isotope-item, .isotope .isotope-item.no-transition {
	-webkit-transition-duration: 0s;
	-moz-transition-duration: 0s;
	-ms-transition-duration: 0s;
	-o-transition-duration: 0s;
	transition-duration: 0s;
}

/* End: Recommended Isotope styles */

/* disable CSS transitions for containers with infinite scrolling*/
.isotope.infinite-scrolling {
	-webkit-transition: none;
	-moz-transition: none;
	-ms-transition: none;
	-o-transition: none;
	transition: none;
}

#options {
	margin-top: 10px;
	margin-left: 10px;
	float: none;
}

#options ul {
	margin: 0;
	list-style: none;
}

#options ul ul {
}

#options li {
	float: left;
	line-height: 20px;
	padding: 4px 0 5px 0px;
}

#options li a {
	display: inline-block;
	text-decoration: none;
	color: #888;
	-webkit-transition: all 0.2s ease 0s;
	-moz-transition: all 0.2s ease 0s;
	-o-transition: all 0.2s ease 0s;
	transition: all 0.2s ease 0s;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.1);
	border: 1px solid #d8d8d8;
	margin-right: 4px;
	padding: 4px 10px;
	font-weight: 600;
}

#options li a:hover {
	border: 1px solid #888;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0.2);
}

#options li a.selected {
	color: #fff;
	cursor: default;
	-webkit-box-shadow: 0 1px 0 rgba(180, 180, 180, 0);
	-moz-box-shadow: 0 1px 0 rgba(180, 180, 180, 0);
	box-shadow: 0 1px 0 rgba(180, 180, 180, 0);
	border: 1px solid #88b10f;
	background: #88b10f;
}

.select-menu {
	display: inline-block;
	margin: 22px 20px 0 0;
	margin-left: -20px !important;
}

.description {
	background: #fff;
	border-bottom: 1px solid #e7e7e7;
	margin-top: -9px;
	padding: 7px 20px 8px 10px;
	z-index: 5;
}

/* End Isotope
--------------------------------------------------------------------------------------------------------*/

.preloader {
	background: url(../images/ajax-loader.gif) center center no-repeat #ffffff;
}

.selectnav {
	display: none;
}

@media only screen and (max-width: 1399px) {
	body {
		background: #dcdcd9;
	}
}

@media only screen and (max-width: 1099px) {
	body {
		background: #fff;
	}

	#wrapper {
		width: 100%;
		margin: 0 auto;
		background-color: #fff;
	}

	#box-shadow {
		-webkit-box-shadow: 0 0 0px #C7C7C7;
		-moz-box-shadow: 0 0 0px #C7C7C7;
		box-shadow: 0 0 0px #C7C7C7;
		background-color: #fff;
	}

	.container {
		padding: 30px 0px;
		width: 720px;
		position: relative;
		margin: 0 auto;
	}

	.responsive.alignright {
		float: none;
	}

	header {
		padding: 41px 0px 8px 0px;
		width: 720px;
		position: relative;
		margin: 0 auto;
	}

	.responsive.alignleft {
		float: none;
		margin: 0 auto;
		width: 720px;
		padding-top: 20px;
	}

	.js #nav {
		display: none;
	}

	.js .selectnav {
		display: block;
		margin: 5px 10px;
		color: #a5a5a5;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 600;
		line-height: 13px;
		text-decoration: none;
		text-transform: uppercase;
		float: none;
		width: 700px;
	}
}

/* Standard 960 or larger (browsers) */
@media only screen and (min-width: 960px) {
}

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {
	#wrapper {
		width: 100%;
		margin: 0 auto;
		background-color: #fff;
	}

	.responsive.alignright {
		float: none;
	}
}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {
	.container {
		padding: 30px 0px;
		width: 720px;
		position: relative;
		margin: 0 auto;
	}

	header {
		padding: 41px 0px 8px 0px;
		width: 720px;
		position: relative;
		margin: 0 auto;
	}

	.responsive.alignleft {
		float: none;
		margin: 0 auto;
		width: 720px;
		padding-top: 20px;
	}

	.js #nav {
		display: none;
	}

	.js .selectnav {
		display: block;
		margin: 5px 10px;
		color: #a5a5a5;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 600;
		line-height: 13px;
		text-decoration: none;
		text-transform: uppercase;
		float: none;
		width: 700px;
	}
}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {

}

/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
@media only screen and (min-width: 480px) and (max-width: 767px) {
	.container {
		padding: 30px 0px;
		width: 440px;
		position: relative;
		margin: 0 auto;
		overflow: visible !important
	}

	header {
		padding: 41px 0px 8px 0px;
		width: 440px;
		position: relative;
		margin: 0 auto;
	}

	.responsive.alignleft {
		float: none;
		margin: 0 auto;
		width: 440px;
		padding-top: 20px;
	}

	.col1-1, .col1-3, .col2-3, .col1-2 {
		width: 420px;
		margin: 0px 10px;
	}

	#quick-contact {
		float: none !important;
		margin-top: 20px !important
	}

	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 440px;
	}

	.jcarousel-skin-tango .jcarousel-item {
		width: 200px;
		text-align: center;
	}

	.jcarousel-skin-tango2 .jcarousel-container-horizontal {
		width: 440px;
	}

	.jcarousel-skin-tango2 .jcarousel-item {
		width: 200px;
	}

	.videos {
		width: 420px !important;
		height: 235px !important;
	}

	.js #nav {
		display: none;
	}

	.js .selectnav {
		display: block;
		margin: 5px 10px;
		color: #a5a5a5;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 600;
		line-height: 13px;
		text-decoration: none;
		text-transform: uppercase;
		float: none;
		width: 420px;
	}

	.element {
		width: 200px !important;
		display: block;
	}

	.responsive-folio {
		overflow: visible !important
	}

	.images .title, .images .subtitle {
		z-index: 0;
		display: none !important;
	}

	#options {
		margin-right: 10px;
	}

	#options li a {
		margin-bottom: 5px;
	}

	.responsive-footer .col1-3 {
		width: 200px !important;
	}

	.responsive-footer .col2-3 {
		width: 200px !important;
	}

	.contact input, textarea {
		width: 172px !important;
		margin: 0px 0px 0px 0;
		float: none;
		display: block;
		margin-bottom: 5px
	}

	.contact textarea {
		width: 172px !important;
	}

	.option-set {
		float: none
	}

	h3.alignleft {
		float: none;
	}

	#accordion {
		margin-top: 35px;
	}

	#googlemaps {
		width: 420px !important;
		height: 350px !important;
	}

	#map-bg {
		background: none;
	}
}

/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {
	.container {
		width: 320px;
		position: relative;
		margin: 0 auto;
		overflow: visible !important
	}

	header {
		padding: 41px 0px 8px 0px;
		width: 320px;
		position: relative;
		margin: 0 auto;
	}

	ul.social {
		margin-left: 10px;
		margin-top: 10px;
		float: none;
	}

	.responsive.alignleft {
		float: none;
		margin: 0 auto;
		width: 320px;
		padding-top: 20px;
	}

	.col1-1, .col1-3, .col2-3, .col1-2 {
		width: 300px;
		margin: 0px 10px;
	}

	#quick-contact {
		float: none !important;
		margin-top: 20px !important
	}

	.jcarousel-skin-tango .jcarousel-container-horizontal {
		width: 320px;
	}

	.jcarousel-skin-tango .jcarousel-item {
		width: 140px;
		text-align: center;
	}

	.jcarousel-skin-tango2 .jcarousel-container-horizontal {
		width: 320px;
	}

	.jcarousel-skin-tango2 .jcarousel-item {
		width: 140px;
	}

	.videos {
		width: 300px !important;
		height: 175px !important;
	}

	.js #nav {
		display: none;
	}

	.js .selectnav {
		display: block;
		margin: 18px 10px 0px 10px;
		color: #a5a5a5;
		font-family: "Open Sans", Arial, Helvetica, sans-serif;
		font-size: 13px;
		font-weight: 600;
		line-height: 13px;
		text-decoration: none;
		text-transform: uppercase;
		width: 300px !important
	}

	nav.alignright {
		display: block;
		float: none;
	}

	.element {
		width: 300px;
		display: block;
	}

	.responsive-folio .col1-4 {
		width: 140px !important;
	}

	.responsive-folio {
		overflow: visible !important
	}

	.images .title, .images .subtitle {
		z-index: 0;
		display: none !important;
	}

	#options {
		margin-right: 10px;
		margin-left: 0px;
		margin-top: 20px;
	}

	#options li a {
		margin-bottom: 5px;
	}

	.responsive-footer .col1-3 {
		width: 300px
	}

	.responsive-footer .col2-3 {
		width: 300px
	}

	.contact input, textarea {
		width: 272px !important;
		margin: 0px 0px 0px 0;
		float: none;
		display: block;
		margin-bottom: 5px
	}

	.contact textarea {
		width: 272px !important;
	}

	.option-set {
		margin-left: 10px !important;
		margin-top: -10px !important;
		float: none
	}

	h3.alignleft {
		float: none;
	}

	#accordion {
		margin-top: 35px;
	}

	#googlemaps {
		width: 300px !important;
		height: 250px !important;
	}

	#map-bg {
		background: none;
	}
}
